@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

* {
  font-family: OpenSans;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
